#Corpo{
	height: 100%;
	width: 100%;
}

#LoginSenha{
	position: absolute;
	left: 70%;
	height: 10%;
	font-weight: bolder;
}

#FotoLogo{
	position: absolute;
	height:10%;
}

#MenuSuperior{
	width: 100%;
	color: #000;
	position: absolute;
	top: 25%;
}
